<nav class="header__menu">
  <div class="container">
    <div class="row">
      <ul class="header__menu-container">
        <li class="header__menu__links" *ngFor="let a of menu">
          <a>
            {{a.parent}} <img *ngIf="a.sub.length" src="../../../../../assets/img/carot-down.png" />
          </a>

          <ul class="header__menu__links-sub" *ngIf="a.sub.length">
            <li *ngFor="let b of a.sub">
              <a>
                {{b.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
